* {
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 18px 70px;
}

.logo img {
    width: 120px;
    color: #0d1b2a;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #575757;
}

.common-btn {
    background-color: #1d4ed8;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('./image/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 750px;
}

.header-content h1 {
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 20px;
}

.header-content p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 35px;
    font-size: 24px;
}

.hero-btn {
    margin-top: 50px;

}