* {
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 18px 70px;
}

.logo img {
    width: 120px;
    color: #0d1b2a;
}

.nav-item {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #575757;
}

.common-btn {
    background-color: #1d4ed8;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('./image/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 750px;
}

.header-content h1 {
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 20px;
}

.header-content p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 35px;
    font-size: 24px;
}

.hero-btn {
    width: auto;
    margin-top: 50px;
    padding: 15px 40px;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}

.container h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: #000102;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    background-color: #ffffff;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content span {
    color: #1d4ed8;
    font-size: 12px;
    font-weight: bold;
}

.card-content h3 {
    margin: 10px 0;
    color: #0D1B2A;
}

.card-content p {
    color: #575757;
    font-size: 15px
}

.container {
    text-align: center;
}

.pricing-card {
    display: flex;
    gap: 30px;
    justify-content: center;

}

.pricing {
    max-width: 1200px;
    margin: 80px auto;
    align-items: center;

}

.pricing-header {
    text-align: center;
    padding-bottom: 45px;
}

.pricing-item {
    background-color: #FFFFFF;
    width: 370px;
    height: 445px;
    padding: 32px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
}

.pricing-item1 {
    background-color: #0D1B2A;
    width: 370px;
    height: 445px;
    padding: 32px;
    border-radius: 10px;
}

.pricing-item1 .price p {
    color: #1d4ed8;
    margin-bottom: 10px;

}

.pricing-item1 .price h2 {
    color: #FFFFFF;
    font-size: 40px;
}

.pricing-item1 li {
    color: #FFFFFF
}

.pricing-item1 button {
    background: #2563EB;
    color: #FFFFFF;
    border: none;
}

.pricing-item2 {
    background-color: #F8F9FB;
    width: 370px;
    height: 445px;
    padding: 32px;
    border-radius: 10px;
}

.pricing-item2 button {
    background: #F8F9FB;
    color: #0D1B2A;
    border: 2px solid #0D1B2A;

}

.price h2 {
    color: #0D1B2A;
    font-size: 40px;

}

hr {
    border: none;
    border: 1px solid #E5E7EB;
    margin: 20px 0;


}

ul {
    padding-left: 18px;
    margin-bottom: 30px;
}

li {
    color: #333333;
    font-size: 16px;
    line-height: 2;
}

button {
    width: 100%;
    padding: 12px;
    border: 2px solid #2563EB;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #2563EB;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.faq {
    background: #575757;
    color: #FFFFFF;
    padding: 80px 10%;
}

.faq h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;

}

.faq-subtitle {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.faq-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.faq-card {
    background-color: #1e293b;
    padding: 25px;
    border-radius: 12px;
    transition: .3s;
}

.faq-card:hover {
    transform: translateY(-5px);
}

.faq-card h3 {
    margin-bottom: 15px;
    color: #38bdf8;
}

.faq-card p {
    color: #E5E7EB;
    line-height: 1.6;
}

.footer {
    background-color: #0D1B2A;
    padding: 32px 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo-img {
    width: 120px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #1d4ed8;
    font-size: 18px;
}

.footer hr {
    border: none;
    border-top: 1px solid #334155;
    margin: 25px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom p{
    color: #575757;
    font-size: 12px;
}
.footer-links {
    
    display: flex;
    gap: 25px;
}
.footer-links a{
text-decoration: none;
color: #575757;
}